Source: ros-hydro-cob-robots
Section: misc
Priority: extra
Maintainer: Florian Weisshardt <fmw@ipa.fhg.de>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin
Homepage: http://ros.org/wiki/cob_robots
Standards-Version: 3.9.2

Package: ros-hydro-cob-robots
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-cob-bringup, ros-hydro-cob-controller-configuration-gazebo, ros-hydro-cob-default-robot-config, ros-hydro-cob-hardware-config, ros-hydro-cob-hardware-test, ros-hydro-cob-monitoring
Description: This stack holds packages for hardware configuration as well as launch files for starting up the basic layer for operating Care-O-bot.
