Source: ros-hydro-cob-monitoring
Section: misc
Priority: extra
Maintainer: Florian Weisshardt <fmw@ipa.fhg.de>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin
Homepage: http://ros.org/wiki/cob_monitoring
Standards-Version: 3.9.2

Package: ros-hydro-cob-monitoring
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-cob-relayboard, ros-hydro-cob-script-server
Description: cob_monitoring
